body {
	@include linear-gradient($bg_bluedark, $bg_bluesoft);
}

.prompt {
    width: 60%;
    margin: 0 auto;
}

.shell {
    @include PaddingShell;
    background: $bg;
    div {
        //padding-top: 5px;
        padding-bottom: 5px;
    }
}

.response {
	@include PaddingResponse;
}