a {
    text-decoration: none;
    &:hover > p, &:focus > p {
        background-color: $header;
        color: $bg;
    }
    p {
        @include FontShell;
        margin: 0;
        padding: 0;
    }
}