@mixin FontShell {
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    color: #FFF;
}

@mixin MarginButton {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
}

@mixin PaddingShell {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
}

@mixin PaddingCommand {
    padding: 10px 0px;
}

@mixin PaddingResponse {
    padding: 10px 0px;
}