@import "mixins";
@import "colors";
@import "header";
@import "cursor";
@import "links";
@import "layouts";

body {
    background: $bg;
    margin: 0;
}

div, h1, h2, h3, h4, p, span {
    margin: 0;
    padding: 0;
    @include FontShell;
}