.link {
    background: #E31837;
    color: #fff;
    text-align: center;
}

ul {
    padding: 10px;
}

li {
    padding: 30px;
    display: inline;
}

.social {
    background: #002B5C;
    color: #fff;
    text-align: center;
}