@import "colors";
@import "header";
@import "cursor";

@mixin FontShell {
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    color: #FFF;
}

@mixin MarginButton {
    margin-top: 11px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
}

@mixin PaddingShell {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
}

@mixin PaddingCommand {
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
}

@keyframes load {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background: $bg;
    margin: 0;
}

.prompt {
    width: 100%;
    margin: 0 auto;
}

.shell {
    @include PaddingShell;
    background: $bg_shell;
    div {
        padding-top: 5px;
        padding-bottom: 10px;
    }
}


div,
h1,
h2,
h3,
h4,
p,
span {
    margin: 0;
    padding: 0;
    @include FontShell;
}

a {
    text-decoration: none;
    &:hover > p, &:focus > p {
        background-color: #fff;
        color: $bg;
    }
    p {
        @include FontShell;
        margin: 0;
        padding: 0;
    }
}