<div class="link">
	<ul>
		<li><i class="fa fa-home" aria-hidden="true"></i>Home</li>
		<li><i class="fa fa-external-link" aria-hidden="true"></i>Link</li>
		<li><i class="fa fa-user" aria-hidden="true"></i>User</li>
	</ul>
</div>