<head>
    <title>Me, Myself and I</title>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Inconsolata:400,700'>
    <link rel="stylesheet" href="css/style.css">
    <!--description my first [Jade, Sass, Nodejs, npm & bower, Grunt] project-->
</head>