<!DOCTYPE html>
<html>

    {% include '_head.twig' %}

    <body>
        <div class="prompt"> 

            {% include '_header.twig' %}

            <div class="shell">
            
                {% block page %}{% endblock %}

            	{% include '_links.twig' %}

                {% include '_projects.twig' %}

            	{% include '_cursor.twig' %}
            
            </div>
            
        </div>

    </body>
</html>