{% extends 'layout/default.twig' %}

{% block page %}

    <h1>Lorem ipsum dolor sit amet</h1> 
    <h2>consectetur adipiscing elit, sed do eiusmod tempor</h2>
    <h3>incididunt ut labore et dolore magna aliqua.</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco ut aliquip ex ea commodo consequat.</p>

{% endblock %}